<h1>Concat Map</h1>
<h2>Users posts</h2>

<ng-container *ngIf="threeFirstUsersWithPosts$ | async as users; else loading">
    <ng-container *ngIf="users.length">
        <p-card *ngFor="let user of users; let i=index" [header]="user.name">
            <ul>
                <li *ngFor="let post of user.posts; let i=index">
                    {{ post.title }}
                </li>
            </ul>
        </p-card>
    </ng-container>
</ng-container>


<ng-template #loading>
    <p-skeleton height="150px"></p-skeleton>
    <p-skeleton height="150px"></p-skeleton>
    <p-skeleton height="150px"></p-skeleton>
</ng-template>