/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* PrimeNG */

@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/mdc-light-indigo/theme.css";
@import "~primeng/resources/primeng.min.css";

html,
body {
    margin: 0;
    height: 100%;
}

body {
    padding: 1rem;
}

h1,
h2 {
    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}